In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
class StringConverter(dict):
    def __contains__(self, item):
        return True

    def __getitem__(self, item):
        return str

    def get(self, default=None):
        return str

In [ ]:
bank_accounts = pd.read_csv("fraud_shopee\\bank_accounts.csv", converters=StringConverter())
credit_card = pd.read_csv("fraud_shopee\\credit_cards.csv", converters=StringConverter())
devices = pd.read_csv("fraud_shopee\\devices.csv", converters=StringConverter())
orders = pd.read_csv("fraud_shopee\\orders.csv", converters=StringConverter())

B1: Lấy ra các userid từ bảng orders tạo thành df userids

In [ ]:
userids = pd.DataFrame(np.concatenate([orders['buyer_userid'], orders['seller_userid']]), columns=['userid'])
userids = pd.DataFrame(userids['userid'].unique(), columns=['userid'])
userids

           userid
0        47388162
1        26855196
2       121296714
3       131221930
4       183398314
...           ...
486272  110324210
486273  155518232
486274  105051048
486275  161816716
486276   99173850

[486277 rows x 1 columns]

B2: Join bảng userid với devices, credit_card, bank_account

In [ ]:
userid_df = userids.merge(devices, how='left', on='userid')
userid_df = userid_df.merge(credit_card, how='left', on='userid')
userid_df = userid_df.merge(bank_accounts, how='left', on='userid')
userid_df.head()

,userid,device,credit_card,bank_account
0,47388162,N6EVAPjl6WH2r1LOkkuwR0zKxT3fU8tubs3qvysuKTy=,NaN,2210020214382
1,47388162,NUDUHm6TKnxRN2Q+D7Wr2AAR5IyNabr1t3tobdD8uyq=,NaN,2210020214382
2,47388162,HJ5XUYvJpjF6xE1QlTAy0RQgXY1GZDskcoLSliOMNag=,NaN,2210020214382
3,47388162,5YKQkZDv4zi4RICd0AIVAS3Iv+awDbNxl49p51QF7fA=,NaN,2210020214382
4,47388162,HQgnByUSw54FHZwYDGgwCheMM72dnyBqqF7lDih1iMW=,NaN,2210020214382

In [ ]:
userid_df

,userid,device,credit_card,bank_account
0,47388162,N6EVAPjl6WH2r1LOkkuwR0zKxT3fU8tubs3qvysuKTy=,NaN,2210020214382
1,47388162,NUDUHm6TKnxRN2Q+D7Wr2AAR5IyNabr1t3tobdD8uyq=,NaN,2210020214382
2,47388162,HJ5XUYvJpjF6xE1QlTAy0RQgXY1GZDskcoLSliOMNag=,NaN,2210020214382
3,47388162,5YKQkZDv4zi4RICd0AIVAS3Iv+awDbNxl49p51QF7fA=,NaN,2210020214382
4,47388162,HQgnByUSw54FHZwYDGgwCheMM72dnyBqqF7lDih1iMW=,NaN,2210020214382
...,...,...,...,...
2069167,99173850,9Hbi0X80jA7TmX/11bgWk5aIZAiUyCGm0x4/WXSkQ8K=,NaN,0843824131
2069168,99173850,ho3zhEraSdwyrNrEHBMAXez0nL6H6Mqa+b9bMw4xij8=,NaN,0843824131
2069169,99173850,MFzRc9yreMDccXbjjPGJ4EB9ab90ehH6uhedA414+cy=,NaN,0843824131
2069170,99173850,LRsmczqr/aD3AZPITRZ6XvrIsVFW4VV1QlDQIR7kt2E=,NaN,0843824131
2069171,99173850,xShCluiOoVHGOrG/MPhGwVpoo9KtG4pZNABbtqR/loI=,NaN,0843824131

Định dạng lại bộ dữ liệu để mỗi user là một hàng

In [ ]:
master_userid_df = userid_df.groupby('userid')
master_userid_df = master_userid_df.agg(lambda x: set(x))
master_userid_df = master_userid_df.reset_index()
master_userid_df

,userid,device,credit_card,bank_account
0,100000188,"{eHamaEomkzg+ne4qKByVbyN6NRopJQMmhJtvKA40VWA=,...",{nan},{nan}
1,10000108,"{jgEIYeaS66VeaLLE04WncEvBoyvIGkG+NiIEZxyUiSq=,...",{nan},{4042994223}
2,10000114,"{p/FT96dFC71oCZnVZeOSr2/qNx8vUTKV5BVDdue6Gou=,...",{839332xxxxxx4431|09-2020},{2222212388}
3,100001610,"{nGWczNZOlWRCgJFQ3qcKs/D5ACr/0XZmLo01ur1R5vm=,...",{nan},{0294322322}
4,100001712,"{b01cmcBO97JzCzDXyZlDsGXZgXZaCu3qMZbBbU4kZKc=,...",{nan},"{392102029298823, 2990003333421, 392102029293829}"
...,...,...,...,...
486272,99995312,"{Unmx3Q/Netm+yk35zCNCWkECwKWb+NtRI1e4VRoOsVm=,...",{nan},{nan}
486273,99997576,{E0MMbojfolOawxfo9Y0vKLPe6JhmPURqAse0gj21nRO=},{332381xxxxxx4018|06-2019},{2012380222}
486274,99998872,"{grDx8f+bPxWA9YEe2nV3fND7GsaM3BvL1vnudgqC4/E=,...",{nan},{311202098483829}
486275,99999032,"{4pmNGcmhvAB6GjD75Gi7EgDDdECVvAK/gy6IaqEZ6dy=,...",{nan},{nan}
486276,9999922,"{e/nawC2zWGAi4w25EaNUcZzdG6BMwnDWO+eVey4EqMc=,...",{nan},{098102009222828}

In [ ]:
temp1 = master_userid_df[master_userid_df['userid'] == '35545436']
temp2 = master_userid_df[master_userid_df['userid'] == '70763052']
temp1

,userid,device,credit_card,bank_account
320276,35545436,"{/3TLpeou8xXsNxpACFFKr34Kqqwxiu5Hi1keJ6plk5E=,...",{nan},{nan}

In [ ]:
temp2

,userid,device,credit_card,bank_account
418633,70763052,"{/3TLpeou8xXsNxpACFFKr34Kqqwxiu5Hi1keJ6plk5E=,...",{nan},"{1000020930924, 0303312408}"

B3: So khớp để tìm

In [ ]:
def isFraud(buyerid, sellerid):
    userA = master_userid_df[master_userid_df['userid'] == str(buyerid)]
    userB = master_userid_df[master_userid_df['userid'] == str(sellerid)]

    # devices
    devicesA = userA['device'].values[0]
    devicesB = userB['device'].values[0]

    # credit_card
    credit_cardA = userA['credit_card'].values[0]
    credit_cardB = userB['credit_card'].values[0]

    # bank_account
    bank_accountA = userA['bank_account'].values[0]
    bank_accountB = userB['bank_account'].values[0]

    if not ({np.nan}.issubset(devicesA) or {np.nan}.issubset(devicesB)):
        if any([x in devicesA for x in devicesB]):
            return True

    if not ({np.nan}.issubset(credit_cardA) or {np.nan}.issubset(credit_cardB)):
        if any([x in credit_cardA for x in credit_cardB]):
            return True

    if not ({np.nan}.issubset(bank_accountA) or {np.nan}.issubset(bank_accountB)):
        if any([x in bank_accountA for x in bank_accountB]):
            return True

    return False

B4: Test

In [ ]:
isFraud(35545436, '70763052')

True

B5: Áp dụng lên dữ liệu

In [ ]:
orders

           orderid buyer_userid seller_userid
0       1953278092     47388162      20822974
1       1953295120     26855196      16416890
2       1953306402    121296714      28477978
3       1953314712    131221930      72837912
4       1953381964    183398314      28423332
...            ...          ...           ...
620942  1956636054     14222102      70940136
620943  1956642760      2978154      60766142
620944  1956651496    221974772      15541938
620945  1956660812    152533590      80986700
620946  1956679514     54374608      10385548

[620947 rows x 3 columns]

In [ ]:
temp_orders = orders[0:1000]
temp_orders

        orderid buyer_userid seller_userid
0    1953278092     47388162      20822974
1    1953295120     26855196      16416890
2    1953306402    121296714      28477978
3    1953314712    131221930      72837912
4    1953381964    183398314      28423332
..          ...          ...           ...
995  1954011206    205507226      12117224
996  1954031910     55015444      49394344
997  1954091446     36497788      11023280
998  1954108368    234989376      77501734
999  1954109678     42756722      23581328

[1000 rows x 3 columns]

In [ ]:
temp_orders.iloc[0].values[1]

'47388162'

In [ ]:
for i in range(len(orders)):
    if isFraud(orders.iloc[i].values[1], orders.iloc[i].values[2]):
        print(i)

1649
2679
3545
5938
8393
11192
13573
13590
13867
14786
14894
15309
19247
20500
26576
27855
31573
32755
34033
36793
36850
38273
38896
40120
41501
42715
44313
45560
46641
47120
48091
49837
50835
52174
53208
53824
55263
56179
58309
63700
65978
67762
68043
73638
77661
81316
82847
82905

B6: Triển khai Code trường hợp Gián tiếp.

Chúng ta sẽ cần các master_bank, master_credit, master_device và master_user

In [ ]:
master_bank = bank_accounts.groupby('bank_account')
master_bank = master_bank.agg(lambda x: set(x))
master_bank = master_bank.reset_index()

In [ ]:
master_bank

         bank_account                          userid
0                   0                        {419128}
1          0000000000  {19901940, 54966514, 21407120}
2       0000000000220                      {57008202}
3       0000000010101                      {17907930}
4       0000000240224                     {189623322}
...               ...                             ...
328538       99999991                      {40218592}
328539     9999999200                      {18510038}
328540     9999999931                       {4732050}
328541     9999999944                       {9814160}
328542     9999999999                      {77393064}

[328543 rows x 2 columns]

In [ ]:
master_credit = credit_card.groupby('credit_card')
master_credit = master_credit.agg(lambda x: set(x))
master_credit = master_credit.reset_index()

In [ ]:
master_credit

                    credit_card      userid
0      300243xxxxxx2422|08-2020  {63177098}
1      300243xxxxxx2918|08-2021  {18468478}
2      300243xxxxxx9830|12-2020  {22163518}
3      301348xxxxxx0010|02-2021   {5845542}
4      301348xxxxxx0033|10-2017  {31447074}
...                         ...         ...
37362  899949xxxxxx9332|12-2017  {10732586}
37363  899949xxxxxx9430|10-2017  {10018568}
37364  899949xxxxxx9430|10-2022  {10018568}
37365  899949xxxxxx9434|10-2021  {31374498}
37366  899949xxxxxx9892|05-2019   {6546974}

[37367 rows x 2 columns]

In [ ]:
master_devices = devices.groupby('device')
master_devices = master_devices.agg(lambda x: set(x))
master_devices = master_devices.reset_index()

In [ ]:
master_devices

                                               device                 userid
0        +++3s/8YvFLP/ePRr1RQw27UpSq8iJAdybTVjPiHUc8=             {10146534}
1        +++GW0vx4xLjxTNHKWO+kWDS+w45sJZz//ZUlST6TCg=            {123913948}
2        +++b/gSDahdOss9vZHx/0qorN1zrvnT0DJ6vttl/YBE=            {147271198}
3        +++hbM5PFzSOZglwP8ORRbmr40UrvzEgCMq6ZtuJjMu=             {16126238}
4        +++ivFTF+M/DxnA21MRSxuqZO/KUheIu0RXva/O41sq=  {102164030, 66422306}
...                                               ...                    ...
1363282  zzzAtrItC0RATj3jRi3MMCHj8dhao3DGksVio2ZS25K=             {11474934}
1363283  zzzLGRdBMVYjnK9E7bC3xlOS8nUF7oB8uhKBO33EbQW=   {129766014, 9878070}
1363284  zzzPPefKmM1TOYvQ1rSaV183Wk3rF9O6Rlg/T2vnIlI=            {182892992}
1363285  zzzShxpCmcJe6PwNXQubFhOc+DwG2AO6moYZXqe32Yc=             {23421422}
1363286  zzzkOYbY4yX+ru374C8vh+gaXVVf08i7vMYnQxFq2k0=             {20490660}

[1363287 rows x 2 columns]

In [ ]:
def isFraud_v2(buyer_is, seller_id, depth_search = 3):
    userA = buyer_is
    userB = seller_id

    user_relayed = set()
    user_relayed.update({userA})

    for i in range(depth_search):
        ### devices
        devices_relayed = set()
        for user in user_relayed:
            temp = master_userid_df[master_userid_df['userid'] == user]
            if temp.empty:
                continue
            else:
                devices_relayed.update(temp['device'].values[0])
        # print(devices_relayed)

        user_relayed = set()
        for device in devices_relayed:
            temp = master_devices[master_devices['device'] == device]
            if temp.empty:
                continue
            else:
                user_relayed.update(temp['userid'].values[0])
        # print(user_relayed)

        if userB in user_relayed:
            return True

        ### bank_account
        bank_relayed = set()
        for user in user_relayed:
            temp = master_userid_df[master_userid_df['userid'] == user]
            if temp.empty:
                continue
            else:
                bank_relayed.update(temp['bank_account'].values[0])
        # print(bank_relayed)

        user_relayed = set()
        for bank in bank_relayed:
            temp = master_bank[master_bank['bank_account'] == bank]
            if temp.empty:
                continue
            else:
                user_relayed.update(temp['userid'].values[0])
        # print(user_relayed)

        if userB in user_relayed:
            return True

        ### credit_account
        credit_relayed = set()
        for user in user_relayed:
            temp = master_userid_df[master_userid_df['userid'] == user]
            if temp.empty:
                continue
            else:
                credit_relayed.update(temp['credit_card'].values[0])
        # print(credit_relayed)

        user_relayed = set()
        for credit in credit_relayed:
            temp = master_credit[master_credit['credit_card'] == credit]
            if temp.empty:
                continue
            else:
                user_relayed.update(temp['userid'].values[0])
        # print(user_relayed)

        if userB in user_relayed:
            return True

    return False

In [ ]:
isFraud_v2(47388162, 20822974, depth_search = 10)

False

In [ ]:
for i in range(len(orders[:10])):
    if isFraud_v2(orders.iloc[i].values[1], orders.iloc[i].values[2], depth_search=10):
        print(i)

In [ ]:
def cal_threading1(orders):
    for i in range(len(orders)):
        if isFraud_v2(orders.iloc[i].values[1], orders.iloc[i].values[2], depth_search=10):
            print('1', 'Fraud: ', orders.iloc[i].values[0])
        else:
            print('1', 'Not - Fraud: ', orders.iloc[i].values[0])

def cal_threading2(orders):
    for i in range(len(orders)):
        if isFraud_v2(orders.iloc[i].values[1], orders.iloc[i].values[2], depth_search=10):
            print('2', 'Fraud: ', orders.iloc[i].values[0])
        else:
            print('2', 'Not - Fraud: ', orders.iloc[i].values[0])

In [ ]:
from threading import Thread
import threading
import time

try:
    t1 = threading.Thread(target=cal_threading1, args=(orders[:6],))
    t2 = threading.Thread(target=cal_threading2, args=(orders[6:10],))
    t = time.time()
    t1.start()
    t2.start()
    t1.join()
    t2.join()
    print('Time: ', time.time() - t)
except:
    print('Error')

2 Not - Fraud:  1953451192
2 Not - Fraud:  1953453596
2 Not - Fraud:  1953479046
2 Not - Fraud:  1953480060
1 Not - Fraud:  1953278092
1 Not - Fraud:  1953295120
1 Not - Fraud:  1953306402
1 Not - Fraud:  1953314712
1 Not - Fraud:  1953381964
1 Not - Fraud:  1953383372
Time:  11.488771915435791

      orderid buyer_userid seller_userid
0  1953278092     47388162      20822974
1  1953295120     26855196      16416890
2  1953306402    121296714      28477978
3  1953314712    131221930      72837912
4  1953381964    183398314      28423332
5  1953383372     69247284      62795594
6  1953451192     89510674      18186196
7  1953453596    198638326       7314602
8  1953479046    202508756       1988634
9  1953480060    130236220      77145726

In [ ]:
# userA = str(35545436)
# userB = str(70763052)

# user_relayed = set()
# user_relayed.update({userA})

# for i in range(3):
#     devices_relayed = set()
#     for user in user_relayed:
#         temp = master_userid_df[master_userid_df['userid'] == user]
#         devices_relayed.update(temp['device'].values[0])
#     print(devices_relayed)

#     user_relayed = set()
#     for device in devices_relayed:
#         temp = master_devices[master_devices['device'] == device]
#         user_relayed.update(temp['userid'].values[0])
#     print(user_relayed)

#     if userB in user_relayed:
#         print(True)
#         break

# print(False)

{'wwTHSl01NrrNRw3raFsOAz49T6PEQIrqdbwlps2D61K=', 'g+uojfteK7lD8yPp28rp3/llgb8lg+z7bPVvhCxNtmy=', 'Drjk6u3HFaPQIBnRmjXsDEHtasP6WR7iEpWDEw05vQI=', 'zCu1DoeH8e6r6xnR3yI6M/SqrqvtLglcQAiLtQN80N8=', 's0dMgyANPs2sabLr5wHHp8WZYDkt1ijMMxAKUBOC/8q=', 'ZeVkNKm9iA6LYFkEFVC/oqOLWVdRyXnkafTnsi2iSpS=', '/3TLpeou8xXsNxpACFFKr34Kqqwxiu5Hi1keJ6plk5E=', '0U/SDzW3xF04BLRJD4zF3GdeU2UswRjmlIusPRbybwE='}
{'35545436', '70763052'}
True
False